/* Reset some default styles */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  /* Navigation Bar */
  nav {


    background-color: #e6bebe;
    color: #fff;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin-bottom: 0;

  }

  nav ul li {
    margin-right: 40px;
    display: flex;
    justify-content: left
  }

  nav ul li:last-child {
    margin-right: 0;
  }

  nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }

  /* Header */
  header {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
  }

  h1 {
    font-size: 36px;
    background-color: #333;
    margin-bottom: 10px;
  }

  /* Form */
  form {
    background-color: e6bebe6;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(36, 43, 251, 0.1);
    width: 100%;
  }

  form label {
    display: block;
    margin-bottom: 10px;
  }

  form input[type="text"],
  form input[type="number"],
  form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #e6bebe;
    border-radius: 3px;
    /* box-sizing: content-box; */
    display: block;
  }

  form select {
    appearance: none;
    -webkit-appearance: none;
  }

  form input[type="submit"] {
    background-color: #e6bebe;
    color: #e28181;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  form input[type="submit"]:hover {
    background-color: #e6bebe;
  }

  /* Table */
  table {
    width: 100%;
    background-color: #f0f0f0;
    border-collapse: collapse;
    border: 1px solid #e6bebe;
    margin-top: 20px;
  }

  table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #e6bebe;

  }

  table th {
    background-color: #e6bebe;
    color: #fff;
  }

  /* Delete Button */
  .delete-button {
    background-color: #d9534f;
    color: #d32929;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;

  }

  .delete-button:hover {
    background-color: #c9302c;
  }
.pink {
    background-color: #e28181;
    border: 0;


}
.pink:hover{
    background-color: #d16868;

}

.black {
    background-color: #000000;
    border: 0;


}
.black:hover {
    background-color: #969696;

}
